<a href="/bright_ideas">Bright Ideas</a><br>
<a href="/main">logout</a>


Name:<%=@user.name%><br>
alias:<%=@user.alias%><br>
email:<%=@user.email%><br>

Total number of posts:<%=@my_posts.count%><br>
Total number of Likes:<%=@user.posts_liked.count%><br>
